# Cấu hình Cơ sở dữ liệu Postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Cấu hình JWT signing key
JWT_SIGNER_KEY=3cfa76a3b860cb7019f02d8b2f57932b9057e3a3b860cb7019f02d8b2f57932b9057e3a3b860cb7

# Cấu hình Mail SMTP để gửi OTP (Nhập tài khoản của bạn)
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# Cấu hình Google Client ID để đăng nhập bằng Google
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
