PROFILE=dev

DB_URL=jdbc:postgresql://localhost:5432/hakyfood_db
DB_USERNAME=hakyfoodapp
DB_PASSWORD=hakyfoodapp@123

MAIL_USERNAME=youremail@gmail.com
MAIL_PASSWORD=your_email_app_password

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET_KEY=e2639cd3386d24172c7e92f6e3190afaf3457c910ac2819e7cc782360919f2a6

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

VNPAY_CODE=your_vnpay_code
VNPAY_SECRET_KEY=your_vnpay_secret_key

ADMIN_EMAIL=admin@domain.com
ADMIN_PASSWORD=admin@123